{% extends "base.html" %}

{% block title %}YaCut - укоротитель ссылок{%endblock %} 
{% block content %}
  <main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
      <p class="text-center my-4">
        Создайте короткую ссылку автоматически или предложите свой вариант
      </p>

      <div class="container">
        <div class="row my-3">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <div class="container">
              <div class="row ">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                  <p class="text-center">
                  <h5 class="text-center">Короткая ссылка успешно создана:</h5>
                  </p>
                  <a class="nav-link" href="{{ url_for('add_url_view') }}">
                    {{ url.short }}
                  </a>
                </div>
                <div class="col-sm">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}